{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-center" >
            <form class="form-inline" style="margin-top: 300px; margin-left: 70px;">
                <input class="form-control form-control-lg ml-3 w-75" name="keyword" type="text" placeholder="Search..."
                aria-label="Search">
                <button class="btn" type="submit"><i class="fas fa-search btn" aria-hidden="true" ></i></button>
            </form>
        </div>

    </div>
</div>


{% endblock body %}